style.
	body {
		background: #e5e5e5;
	}
	
	.body {
		padding-top: 15px;
		background: white;
	}
	
	.top, a.top, a.top:hover {
		background: #003399;
		color: #ffffff;
	}
	
	a, a:visited, a:active {
		color: #003399;
		font-weight: bold;
	}
	
	a:hover {
		color: #ff0000;
	}
	
	div.container.nav {
		width: 100%;
		background: #6698cb;
		color: white;
		padding-top: 2px;
	}
	
	div#extended-network {
		border: 2px solid black;
		background: white;
		text-align: center;
		padding: 20px;
		font-size: 12pt;
		font-weight: bold;
	}
	
	h5.orange {
		color: #ff7700;
		font-weight: bold;
		background: #ffcc99;
		padding: 2px;
		padding-left: 10px;
	}
	
	h5.miniOrange {
		color: #ff7700;
		font-weight: bold;
	}
	
	span.redtext {
		color: red;
		font-weight: bold;
		font-size: 12pt;
	}
	
	/* TABLES */
	table {
		border: 3px solid #6698cb;
		width: 100%;
		margin-top: 15px;
		margin-bottom: 15px;				
	}
	
	table.posts {
		border: 0px;
		background: white;
	}
	
	th {
		padding-left: 10px;
		padding-bottom: 2px;
		color: #ffffff;
		background: #6698cb;
	}
	
	td {
		border-bottom: 2px solid white;
		padding: 5px;
		background: #d5e8fb;
	}
	
	td.title {
		vertical-align: top;
		padding: 5px;
		color: #336699;
		background: #b1d0f0;
		font-weight: bold;
	}
	
	td.postTitle {
		background: #ff9933;
		vertical-align: top;
	}
	
	td.post {
		background: #f9d6b4;
		padding-bottom: 60px;
		border-left: 2px white solid;
	}
	
	td.contact {
		background: #ffffff;
	}
	
	td.extra {
		background: #b1d0f0;
		padding: 2px 2px;
	}
	
	/* MOBILE */
	@media only screen and (max-width : 990px) {
		#extended-network {
			display: none;
		}
	
		table {
			margin-top: 3px;
			margin-bottom: 3px;
		}
	}
	
	/* FORMS and BUTTONS */
	button.btn {
		color: black;
		background: #e0ffff;
		padding: 2px 6px 3px;
		border-width: 2px;
		border-style: outset;
		border-color: buttonface;
		border-image: initial;
		border-radius: 0;
	}
	
	.form-control {
		background-color: white;
		border-width: 2px;
		border-style: inset;
		border-image: initial;
		border-radius: 0;
	}
	
	.form-control:focus {
		border: none;
	}